:root {
    --blanco: #e9e0d1;
    --verde-claro: #91a398;
    --verde-oscuro: #33605a;
    --negro: #070001;
    --rojo: #68462b;
}

@font-face {
    font-family: 'scp';
    src: url(fuentes/SourceCodePro.ttf);
}

body {
    font-family: 'scp', 'Gill Sans';
    background-color: #e9e0d1;
    margin: 0px 0px;
    display: block;
}

#encabezado a {
    text-decoration: none;
    color: var(--blanco);
}

.ahover {
    background-color: var(--blanco);
    height: 3px;
    width: 0px;
    border-radius: 2px;
}

@keyframes enclink {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

a:hover+.ahover {
    width: auto;
    animation: enclink 0.4s;
}

#nombre {
    font-size: 70px;
    margin-top: -120px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

#encabezado {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0px 20px;
    padding: 0px 20px;
    margin-bottom: 0px;
    margin-top: -10px;
    background-color: var(--verde-claro);
}

#portada {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    margin-bottom: 50px;
    height: 720px;
    width: 100%;
}

#portada p {
    margin-bottom: 0px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding: 25px 25%;
    min-width: 700px;
}

@media (max-width: 720px) {
    .container {
        min-width: 600px;
        width: 100%;
        flex-direction: column;
        padding: 25px 10px;
        gap: 10px;
    }

    .texto {
        width: 80%;
    }

    h3 {
        font-size: 20px;
    }

}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.linea {
    background: linear-gradient(90deg, var(--blanco) 0%, var(--verde-claro) 50%, var(--blanco) 100%);
    height: 3px;
    width: 100%;
}

.logos {
    width: 300px;
    height: 300px;
    border-radius: 25%;
}

.logo2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#footer {
    margin-top: 50px;
    padding-top: 50px;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

#footer svg {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.redes a {
    text-decoration: none;
    color: var(--verde-oscuro);
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100px;
}

.redes a:hover {
    color: var(--rojo);
}

@keyframes logo {
    0% {
        transform: translateY();
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.redes a:hover img {
    animation-name: logo;
    animation-duration: 0.5s;
}