---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Boton from '../components/Boton.astro';
import Titular from '../components/Titular.astro';
import Grid from '../components/Grid.astro';
---

<Layout title="Martín Capuano">
	<main>
		<Titular></Titular>
		<Grid>
			<Card
				href='#'
				title=''
				body='' 
			/>
		</Grid>
	</main>
</Layout>

<style>
	@font-face{
		font-family: 'Aristotelica';
		src: url('../fonts/Aristotelica.ttf');
	}
	main {
		margin: 0;
		padding: 0;
		width: 100svw;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
