---
interface Props{
    text: string;
}

const {text} = Astro.props;
---

<button>
    <span>
        {text}
    </span>
</button>
<style>
    button{
        background-color: #FFFFFF10;
        padding: 10px;
        color: #FFFFFF;
        text-align: center;
        border: white solid 5px;
        border-radius: 5px; 
    }
    button:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
</style>