---
interface Props {
    label1: string;
    label2: string;
    label3: string;
}

const { label1, label2, label3 } = Astro.props;
---

<div id="main">
    <svg
        viewBox="0 0 48 48"
        xmlns="http://www.w3.org/2000/svg"
        fill="#ffffff"
        stroke="#ffffff"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
            ><defs
                ><style>
                    .a {
                        fill: none;
                        stroke: #ffffff;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                    }
                </style></defs
            ><path
                class="a"
                d="M40.5,5.5H7.5a2,2,0,0,0-2,2v33a2,2,0,0,0,2,2h33a2,2,0,0,0,2-2V7.5A2,2,0,0,0,40.5,5.5Z"
            ></path><path
                class="a"
                d="M12.8789,22.3318A5.5606,5.5606,0,0,1,18.44,16.7713h0A5.56,5.56,0,0,1,24,22.3318v8.8969"
            ></path><line
                class="a"
                x1="12.8789"
                y1="16.7713"
                x2="12.8789"
                y2="31.2287"></line><path
                class="a"
                d="M24,22.3318a5.56,5.56,0,0,1,5.5605-5.5605h0a5.5606,5.5606,0,0,1,5.5606,5.5605v8.8969"
            >
            </path></g
        >
    </svg>
    <div id="links">
        <a href="#">{label1}</a>
        <a href="#">{label2}</a>
        <a href="#">{label3}</a>
    </div>
</div>
<style>
    #main {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #Links {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
    a {
        all: unset;
        cursor: pointer;
    }
    svg {
        height: 100px;
    }
</style>
