---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About Me">
    <main>
		<h1>About me</h1>
		<p>I consider myself as a person with wide knowledge about technology and a fast learner. I'm also good at logical-mathematical thinking. I am currently focused on programming, aiming to live from it, wich is my main goal. Now I’m working at Eurogen S.R.L. as software developer and IT consultant and manager.</p>
		<Card title="My history">
			<p>After graduating from highschool I started an engineering career in mechatronic and learned a lot of things including programming in <strong>C</strong> and <strong>Assembler</strong>. Later, in that career I realized that I didn't want to work in that field, instead I wanted to have a job as a programmer, so I left the career and started to learn more things self-taught. On that way I did get my nowadays job as software developer and I started learning web developing. I've made some pages and simple apps for me and now I'm working as a freelance web-dev.</p>
			<img src="" alt="A photo of me">
		</Card>
		<Card title=""></Card>
		<Card title=""></Card>
		<Card title=""></Card>
	</main>
</Layout>
<style>
    @font-face {
		font-family: "Aristotelica";
		src: url("../fonts/Aristotelica.ttf");
	}
	@font-face {
		font-family: "VCR";
		src: url("../fonts/VCR.ttf");
	}
    main {
		margin: 0;
		padding: 0;
		width: 100svw;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
	}
	main>p{
        max-width: 800px;
        text-align: center;
    }
	p>a{
		all: unset;
		cursor: pointer;
		color: white;
		padding: 2px;
	}
	p>a:hover{
		background-color: white;
		border-radius: 5px;
		padding: 2px;
		color: black;
	}
</style>