---

---

<footer id="pie">
    <p>This page was built with <a href="https://astro.build/" target="_blank">Astro</a></p>
    <p><a property="dct:title" rel="cc:attributionURL" href="https://capua25.github.io/">Personal Portfolio</a> by <span property="cc:attributionName">Martín Capuano</span> is licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"></a></p>
    <p>capuano.martin@outlook.com</p>
</footer>
<style>
    #pie{
        height: 50px;
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'VCR';
        color: white;
        text-align: center;
    }
    a{
		all: unset;
		cursor: pointer;
		color: white;
		padding: 2px;
	}
	a:hover{
		background-color: white;
		border-radius: 5px;
		padding: 2px;
		color: black;
	}
    @media (max-width: 600px) {
        #pie{
            height: 100px;
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'VCR';
            color: white;
        }
    }
</style>