---

---

<div id="grilla">
    <slot />
</div>
<style>
    #grilla{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        width: 95svw;
        margin: 0 auto;
        max-width: 1400px;
    }
    #grilla > *{
        flex: 1;
    }
</style>