---

---

<div id="grilla">
    <slot />
</div>
<style>
    #grilla{
        /*display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);*/
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 20px;
        width: 95svw;
        margin: 0 auto;
        max-width: 1400px;
    }
</style>