---

---

<div id="title">
    <h1>Web Developer</h1>
    <h2>Frontend - Backend - Fullstack</h2>
</div>
<style>
    #title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100svw;
        height: 90svh;
        padding: 0;
        color: white;
        line-height: 1;
    }
    h1{
        all: unset;
        font-size: 150px;
    }
    h2{
        all: unset;
        font-size: 50px;
        margin-bottom: 50px
    }
</style>